.modal {
    display: none;
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,40%);
}

.modal-shown {
    display: block;
}

@keyframes modal-hide {
    from { opacity: 1; }
    to { opacity: 0; }
}

.modal-hiding {
    animation: modal-hide 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.modal-close {
    float: right;
    color: #aaa;
    font-weight: normal;
}

.modal-close:hover,
.modal-close:focus {
    filter: brightness(60%);
}
