.modal {
    display: none;
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,40%);
}

.modal-close {
    float: right;
    color: #aaa;
    font-weight: normal;
}

.modal-close:hover,
.modal-close:focus {
    filter: brightness(60%);
}
