.btn-primary, .btn-outline-primary:hover, .btn-outline-primary:active {
    color: $jf-text-bold;
}

.close {
    color: $jf-text-secondary;
}

.close:hover, .close:active {
    color: $jf-text-primary;
}

.icon-button {
    color: $text-muted;
}

.icon-button:hover {
    color: $jf-text-bold;
}

.icon-button:active {
    color: $text-muted;
}

.text-bright {
    color: $jf-text-bold;
}

.list-group-item-danger {
    color: $jf-text-bold;
    background-color: $danger;
}

.list-group-item-success {
    color: $jf-text-bold;
    background-color: $success;
}

.nav-link:hover {
    background-color: $jf-blue-hover;
}
