node_modules/
site/node_modules/
site/out/
site/tempts/
mail/*.html
dist/
build/
data/
version.go
notes
docs/*
lang/langtostruct.py
config-payload.json
!docs/go.mod
server.key
server.pem
server.crt
instructions-debian.txt
cl.md
./telegram/
mautrix/
tempts/
matacc.txt
scripts/langmover/lang
scripts/langmover/lang2
scripts/langmover/out
tinyproxy.conf
