node_modules/
passwordreset*.json
mail/*.html
scss/*.css*
scss/bs4/*.css*
scss/bs5/*.css*
data/static/*.css
data/static/*.js
data/static/*.js.map
data/static/ts/
!data/static/setup.js
data/config-base.json
data/config-default.ini
data/*.html
data/*.txt
dist/*
jfa-go
build/
pkg/
old/
version.go
notes
