@import "../../node_modules/bootstrap/scss/bootstrap";

.icon-button {
    color: $text-muted;
}

.icon-button:hover {
    color: inherit;
}

.icon-button:active {
    color: $text-muted;
}

.nav-link:hover {
    background-color: $list-group-hover-bg;
}

@import "../base.scss";
