<!doctype html>
<html lang="{{ .shortLang }}" dir="{{ .pageDirection }}">
    <head>
        <!--- This CSS is inlined so we should keep this here! -->
        <link inline rel="stylesheet" type="text/css" href="web/css/v0.6.0bundle.css">
        {{ template "header.txt" . }}
        <title>Crash report</title>
    </head>
    <body>
        <div class="page-container m-2 lg:my-20 lg:mx-64">
            <div class="card ~critical sectioned">
                <section class="section ~critical flex flex-col gap-2">
                    <span class="heading">Crash report for jfa-go</span>
                    {{ if .Err }}
                    <div class="font-mono bg-inherit pre-line">
                    Error: {{ .Err }}
                    </div>
                    {{ end }}
                    <a class="button ~critical w-full center" target="_blank" href="https://github.com/hrfee/jfa-go/issues/new/choose">Create an Issue</a>
                </section>
                <section class="section ~neutral @low flex flex-col gap-4">
                    <div class="flex flex-row justify-between gap-4">
                        <span class="subheading font-medium">Full Log</span>
                        <span class="button ~urge" id="copy-log">Copy</span>
                    </div>
                    <div class="flex flex-row gap-2 justify-between">
                        <button class="button ~neutral @high supra w-full center" id="button-log-normal">Normal</button>
                        <button class="button ~neutral @low supra w-full center" id="button-log-sanitized">Sanitized</button>
                    </div>
                    <div id="log-normal">
                        <pre class="card font-mono bg-inherit pre-line">{{ .Log }}</pre>
                    </div>
                    <div id="log-sanitized" class="flex flex-col gap-2 unfocused">
                        <p class="support subheading">An attempt has been made to remove sensitive info, but make sure to check yourself.</p>
                        <pre class="card font-mono bg-inherit pre-line">{{ .SanitizedLog }}</pre>
                    </div>
                </section>
            </div>
        </div>
        <script inline src="web/js/crash.js"></script>
    </body>
</html>
