<!DOCTYPE html>
<html lang="en" class="{{ .cssClass }}">
    <head>
        <link rel="stylesheet" type="text/css" href="css/bundle.css">
        {{ template "header.html" . }}
        <title>{{ .strings.pageTitle }}</title>
    </head>
    <body class="max-w-full overflow-x-hidden section">
        <div id="modal-success" class="modal">
            <div class="modal-content card">
                <span class="heading mb-1">{{ .strings.successHeader }}</span>
                <p class="content mb-1">{{ .successMessage }}</p>
                <a class="button ~urge !normal full-width center supra submit" href="{{ .jfLink }}" id="create-success-button">{{ .strings.successContinueButton }}</a>
            </div>
        </div>
        <div id="notification-box"></div>
        <span class="dropdown" tabindex="0" id="lang-dropdown">
            <span class="button ~urge dropdown-button">
                <i class="ri-global-line"></i>
                <span class="ml-1 chev"></span>
            </span>
            <div class="dropdown-display">
                <div class="card ~neutral !low" id="lang-list">
                </div>
            </div>
        </span>
        <div class="page-container">
            <div class="card ~neutral !low">
                <div class="row baseline">
                    <span class="col heading">{{ .strings.createAccountHeader }}</span>
                    <span class="col subheading"> {{ .helpMessage }}</span>
                </div>
                <div class="row">
                    <div class="col">
                        <form class="card ~neutral !normal" id="form-create" href="">
                            <label class="label supra">
                                {{ .strings.username }}
                                <input type="text" class="input ~neutral !high mt-half mb-1" placeholder="{{ .strings.username }}" id="create-username" aria-label="{{ .strings.username }}">
                            </label>
                            
                            <label class="label supra" for="create-email">{{ .strings.emailAddress }}</label>
                            <input type="email" class="input ~neutral 1high mt-half mb-1" placeholder="{{ .strings.emailAddress }}" id="create-email" aria-label="{{ .strings.emailAddress }}" value="{{ .email }}">
                            
                            <label class="label supra" for="create-password">{{ .strings.password }}</label>
                            <input type="password" class="input ~neutral 1high mt-half mb-1" placeholder="{{ .strings.password }}" id="create-password" aria-label="{{ .strings.password }}">
                            
                            <label class="label supra" for="create-reenter-password">{{ .strings.reEnterPassword }}</label>
                            <input type="password" class="input ~neutral 1high mt-half mb-1" placeholder="{{ .strings.password }}" id="create-reenter-password" aria-label="{{ .strings.reEnterPassword }}">
                            <label>
                                <input type="submit" class="unfocused">
                                <span class="button ~urge !normal full-width center supra submit">{{ .strings.createAccountButton }}</span>
                            </label>
                        </form>
                    </div>
                    <div class="col">
                        <div class="card ~neutral !normal">
                            <span class="label supra" for="inv-uses">{{ .strings.passwordRequirementsHeader }}</span>
                            <ul>
                                {{ range $key, $value := .requirements }}
                                <li class="" id="requirement-{{ $key }}" min="{{ $value }}">
                                    <span class="badge lg ~positive requirement-valid"></span> <span class="content requirement-content"></span>
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                        {{ if .contactMessage }}
                        <aside class="col aside sm ~info">{{ .contactMessage }}</aside>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        {{ template "form-base" . }}
    </body>
</html>

