<html lang="en" class="light">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ .urlBase }}/css/{{ .cssVersion }}bundle.css">
        <script>
            window.URLBase = "{{ .urlBase }}";
            window.notificationsEnabled = {{ .notifications }};
            window.ombiEnabled = {{ .ombiEnabled }};
            window.langFile = JSON.parse({{ .language }});
            window.linkResetEnabled = {{ .linkResetEnabled }};
            window.language = "{{ .langName }}";
            window.telegramEnabled = {{ .telegramEnabled }};
            window.telegramRequired = {{ .telegramRequired }};
            window.telegramUsername = {{ .telegramUsername }};
            window.telegramURL = {{ .telegramURL }};
            window.emailEnabled = {{ .emailEnabled }};
            window.emailRequired = {{ .emailRequired }};
            window.discordEnabled = {{ .discordEnabled }};
            window.discordRequired = {{ .discordRequired }};
            window.discordServerName = "{{ .discordServerName }}";
            window.discordInviteLink = {{ .discordInviteLink }};
            window.discordSendPINMessage = "{{ .discordSendPINMessage }}";
            window.matrixEnabled = {{ .matrixEnabled }};
            window.matrixRequired = {{ .matrixRequired }};
            window.matrixUserID = "{{ .matrixUser }}";
        </script>
        {{ template "header.html" . }}
        <title>{{ .lang.Strings.pageTitle }}</title>
    </head>
    <body class="max-w-full overflow-x-hidden section">
        <div id="modal-email" class="modal">
            <div class="card relative mx-auto my-[10%] w-4/5 lg:w-1/3">
                <div class="content">
                    <span class="heading mb-4 my-2"></span>
                    <label class="label supra row m-1" for="modal-email-input">{{ .strings.emailAddress }}</label>
                    <div class="row">
                        <input type="email" class="col sm field ~neutral @low input" id="modal-email-input" placeholder="{{ .strings.emailAddress }}">
                    </div>
                    <button class="button ~urge @low supra full-width center lg my-2 modal-submit">{{ .strings.submit }}</button>
                </div>
                <div class="confirmation-required unfocused">
                    <span class="heading mb-4">{{ .strings.confirmationRequired }} <span class="modal-close">&times;</span></span>
                    <p class="content mb-4">{{ .strings.confirmationRequiredMessage }}</p>
                </div>
            </div>
        </div>
        {{ template "login-modal.html" . }}
        {{ template "account-linking.html" . }}
        <div id="notification-box"></div>
        <div class="top-4 left-4 absolute">
            <span class="dropdown" tabindex="0" id="lang-dropdown">
                <span class="button ~urge dropdown-button">
                    <i class="ri-global-line"></i>
                    <span class="ml-2 chev"></span>
                </span>
                <div class="dropdown-display">
                    <div class="card ~neutral @low">
                        <label class="switch pb-4">
                            <input type="radio" name="lang-time" id="lang-12h">
                            <span>{{ .strings.time12h }}</span>
                        </label>
                        <label class="switch pb-4">
                            <input type="radio" name="lang-time" id="lang-24h">
                            <span>{{ .strings.time24h }}</span>
                        </label>
                        <div id="lang-list"></div>
                    </div>
                </div>
            </span>
            <span class="button ~warning" alt="{{ .strings.theme }}" id="button-theme"><i class="ri-sun-line"></i></span>
            <span class="button ~critical @low mb-4 unfocused" id="logout-button">{{ .strings.logout }}</span>
        </div>
        <div class="page-container">
            <div class="card @low dark:~d_neutral mb-4" id="card-user">
                <span class="heading mb-2"></span>
            </div>
            <div class="grid grid-cols-2 gap-4">
                <div class="card @low dark:~d_neutral unfocused" id="card-status">
                    <span class="heading mb-2">{{ .strings.expiry }}</span>
                    <aside class="aside ~warning user-expiry my-4"></aside>
                    <div class="user-expiry-countdown"></div>
                </div>
                <div class="card @low dark:~d_neutral flex-col" id="card-contact">
                    <span class="heading mb-2">{{ .strings.contactMethods }}</span>
                    <div class="content flex justify-between flex-col h-100"></div>
                </div>
            </div>
        </div>
        <script src="{{ .urlBase }}/js/user.js" type="module"></script>
    </body>
</html>

