<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Invalid Code - jfa-go</title>
        <link rel="stylesheet" type="text/css" href="{{ .cssFile }}">
        {{ template "header.html" . }}
        <style>
            .messageBox {
                margin: 20%;        
            }
        </style>
    </head>
    <body>
        <div class="messageBox">
            <h1>Invalid Code.</h1>
            <p>The above code is either incorrect, or has expired.</p>
            <p>{{ .contactMessage }}</p>
        </div>
    </body>
</html>                            
